*
{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', Arial;
    box-sizing: border-box;  
    justify-content: center;
}
body
{
    background-image: url("/shayne-inc-photography-i7a_qUFADzg-unsplash.jpg");
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;
    justify-content: center;
}
container
{
    height: auto;
    width: auto;
}

#startButton
{
width: 200px;
height: 100px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: bisque;
font-size: 40px;
font-weight: 700;
text-align: center;
justify-content: center;
border-radius: 30px;

}
#startButton:hover
{
    background: rgb(209, 77, 77);
    width: 300px;
    height: 200px;
    border-radius: 30px;
}

#potteryQuiz
{
    display: block;
    height: 480px;
    position: relative;
    justify-content: center;
    text-align: center;
}

#container
{
justify-items: center;
align-items: center;
border-radius: 30px 0;
top: 0;
left:0;
display: flex;
height: 100%;
width: 100%;
background:rgb(209, 77, 77);
position: relative
}
#quizquestionHeader 
{
    background: rgb(209, 77, 77);
    


}



