*
{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', Arial;
    box-sizing: border-box;  
    justify-content: center;
}
body
{
    background-image: url("la-rel-easter-KuCGlBXjH_o-unsplash.jpg");
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

.glassBox{
    background-color: rgba(255, 228, 196, 0.46);
    width: 70vw;
    height:700px;
    border-radius: 30px;
}
.questions{
    font-size: 20px;
}

span{
    justify-content: center;
}

#startButton
{
width: 200px;
height: 100px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: bisque;
font-size: 40px;
font-weight: 700;
text-align: center;
justify-content: center;
border-radius: 30px;
border: none;
margin-bottom: 50px;
}

#startButton:hover
{
    background: rgb(209, 77, 77);
}

#container
{
justify-items: center;
align-items: center;
border-radius: 30px;
top: 0;
left:0;
display: flex;
height: 20vh;
width: 100%;
background:rgb(209, 77, 77);
position: relative
}
#quizquestionHeader #timer #time
{
    background: rgb(209, 77, 77);
    height:44px;
    width: 50px;
    border-radius: 15px 7px;
    border: 1px solid ;
    margin: 2px 0 0 27px;
}

/* quiz questions */
questions 
{
position:absolute;
top: 90px;
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
}

#question1 {
    font-size: 30px;
}

#quiz #question h5
{
    font-size: 27px;
    text-align: center;
}
 #quiz #question h4:first-child
 {
    margin: 0 10px 0 5px;
 }
/* quiz options */
 #quiz #optionList
{
height: 400px;
width: 100%;
position: absolute;
top: 160px;
text-align: center;
 }

#quiz #optionList h4 
{
    height: 50px;
    width: 535px;
    background:rgb(209, 77, 77);
    line-height: 50px;
    margin: 5px;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 20px;
    color: blanchedalmond;
    overflow: hidden;
    text-align: center;
}

#scorepanel {
    margin-bottom: 40px;
}

#score-title
{
    text-align: center;
    font-size: 30px;
}


#timer-scoredisplay {
    position: relative;

}


#time-leftcontainer
{
    text-align: right;  
    font-size: 30px;
    padding-bottom: 30px ;
    padding-right: 30px;
    padding-top: 30px;
    position: absolute;
    top: 0;
    right: 0;
}   

li.choices {
text-align: center;
padding-bottom: 20px;
font-size: 30px;
}

.hide
{
  display: none; 

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.gameOver
{
    font-size: 30px;
}

.gameOver p
{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: bolder;
    background-color: brown;
    color: yellow;
    padding: 20px;
}

.gameOver button
{
    font-size: 30px;
    background-color: green;
    color: greenyellow;
    padding: 10px;
    border-radius: 10px;
}

#initials {
    font-size: 25px;
    padding: 7px;
    border-radius: 10px;
}